<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!---/**
 * @author Pelle Meuzelaar
 * Here is the code for the fragments for in the ingredient page
 */
 -->

<div th:fragment="ingredientsTable(allIngredients)">

    <table class="table align-middle">
        <thead class="table">
        <tr>
            <th>Naam</th>
            <th class="text-center">Koolhydraten per 100g</th>
            <th class="text-center">Vetten per 100g</th>
            <th class="text-center">Eiwitten per 100g</th>
            <th class="text-center">Kcal per 100g</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="ingredient : ${allIngredients}">
            <td th:text="${ingredient.ingredientName}"></td>
            <td th:text="${ingredient.ingredientCarb}" class="text-center"></td>
            <td th:text="${ingredient.ingredientFat}" class="text-center"></td>
            <td th:text="${ingredient.ingredientProtein}" class="text-center"></td>
            <td th:text="${ingredient.calculateIngredientKcalPerDefaultQuantity()}" class="text-center"></td>
            <td class="deleteButton text-end">
                <a th:href="@{/ingredient/delete/{ingredientId}(ingredientId=${ingredient.ingredientId})}"
                   class="btn btn-danger btn-sm rounded-5">
                    Verwijder
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>