<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!---/**
 * @author Pelle Meuzelaar
 * Here is the code for the fragments for in the ingredient page
 */
 -->

<div th:fragment="ingredientsTable(allIngredients)">

    <table class="ingredientTable">
        <thead class="ingredientTableHeader">
        <tr class="tableRow">
            <th class="ingredientCell">Naam</th>
            <th class="ingredientCell">Koolhydraten</th>
            <th class="ingredientCell">Vetten</th>
            <th class="ingredientCell">Eiwitten</th>
            <th class="ingredientCell">Kcal per 100g</th>
            <th class="ingredientCell"></th>
            <th class="ingredientCell"></th>
        </tr>
        </thead>

        <tbody class="ingredientTableBody">
        <tr th:each="ingredient : ${allIngredients}" class="tableRow">
            <td th:text="${ingredient.ingredientName}" class="ingredientCell"></td>
            <td th:text="${ingredient.ingredientCarb}" class="ingredientCell"></td>
            <td th:text="${ingredient.ingredientFat}" class="ingredientCell"></td>
            <td th:text="${ingredient.ingredientProtein}" class="ingredientCell"></td>
            <td th:text="${ingredient.calculateIngredientKcalPerDefaultQuantity()}" class="ingredientCell"></td>
            <td class="deleteButton">
                <a th:href="@{/ingredient/delete/{ingredientId}(ingredientId=${ingredient.ingredientId})}"
                   class="btn btn-danger btn-sm rounded-5">
                    Verwijder
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>