<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!---/**
 * @author Sabien Ruijgrok
 * Here is the code for the fragments for in the recipe pages
 */
 -->


<div th:fragment="categoryButton(allCategories)">
    <div class="btn-group mb-3 mt-3" role="group" aria-label="Categorieën filter">
        <a th:href="@{/recipe/all}"
           class="btn rounded-5"
           th:classappend="${selectedCategoryId} == null ? ' active' : ''">
            Alle
        </a>
        <a th:each="category : ${allCategories}"
           th:href="@{/recipe/all(categoryId=${category.categoryId})}"
           th:text="${category.categoryName}"
           class="btn rounded-5"
           th:classappend="${selectedCategoryId == category.categoryId} ? ' active' : ''">
        </a>
    </div>
</div>

<div th:fragment="recipeCards(recipes)" class="row row-cols-1 row-cols-md-4 mt-4">
    <div class="col mb-5" th:each="recipe : ${recipes}">
        <div class="card card-hover h-100 border-0 d-flex flex-column bg-light">
            <a th:href="@{/recipe/detail/{recipeName}(recipeName=${recipe.recipeName})}">
                <img th:src="${recipe.imageURL}"
                     class="card-img-top object-fit-cover rounded-top"
                     th:alt="|Image for ${recipe.recipeName}|"
                     style="height: 250px; width: 100%; object-fit: cover;">
            </a>
            <div class="card-body d-flex flex-column rounded">
                <h4 th:text="${recipe.recipeName}" class="card-title"></h4>
                <div class="mb-2">
                    <a th:each="category : ${recipe.categories}"
                       th:text="${category.categoryName}"
                       class="btn btn-warning btn-sm me-2 mb-1"
                       role="button"></a>
                </div>

                <h6 class="text-muted mb-3 card-subtitle">Door: <span th:text="${recipe.recipeUser.userName}"></span></h6>
                <div class="mt-auto">
                    <a class="btn btn-primary rounded-5"
                       th:href="@{/recipe/detail/{recipeName}(recipeName=${recipe.recipeName})}"
                       role="button">Bekijk recept</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="recipeAdd(recipes)" class="col mt-3 text-center">
    <a class="btn btn-outline-primary rounded-5 addBtn"
       th:href="@{/recipe/add}" role="button">Voeg nieuw recept toe <i class="bi bi-plus-lg"></i></a>
</div>
</html>