/*Admin page settings */

h2.admin-pages {
    padding-bottom: 30px;
}

/*Card settings recipes*/

.card-hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/*Scroll to top button */

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 100;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
}

/* category buttons homepage */
.btn-group .btn {
    transition: all 0.3s ease;
    position: relative;
}

/* Hover */
.btn-group .btn:hover {
    background-color: #198754;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,123,255,0.3);
}

/* Active button extra styling */
.btn-group .btn.active {
    background-color: #198754;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border: none;
}


/* General styling */

.btn {
    border-radius: 32px;
}

.form-label{
    font-weight: bold;
}

.logo {
    height: 90px;       /* gewenste hoogte van je logo */
    width: auto;        /* behoud de verhoudingen */
    object-fit: contain;
    margin-left: 30px; /* zorgt dat het logo netjes binnen de hoogte blijft */
}

/*Checkbox styling*/

.rounded-checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    accent-color: dimgrey;
    vertical-align: middle;
    margin: 2px;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}









