/* Table settings ingredients page */

.ingredientTable {
    margin: 40px auto;
    width: 70%;
    table-layout: fixed;
    border: none;
    border-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
    background-color: var(--bs-tertiary-bg);
    padding: 20px;
}

.ingredientCell {
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.deleteButton {
    text-align: center;
}

/*Table settings ingredient form*/

.ingredientInput {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 32px;
    padding: 5px;
    font-size: 1rem;
}

#ingredientSubmit {
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 1rem;
    border-radius: 32px;
}
