<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Recipe Home</title>

</head>

<body>

<div th:replace="~{fragments/general :: navBar}"></div>

<div class="container">
    <h1>Alle recepten</h1>
    <div>
        <a th:href="@{/recipe/all}"
           th:classappend="${selectedCategoryId} == null ? ' active' : ''">
            Alle
        </a>

        <a th:each="category : ${allCategories}"
           th:href="@{/recipe/all(categoryId=${category.categoryId})}"
           th:text="${category.categoryName}"
           th:classappend="${selectedCategoryId} == category.categoryId ? ' active' : ''">
        </a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Titel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td>
                <a th:href="@{/recipe/detail/{recipeName}(recipeName=${recipe.recipeName})}"
                   th:text="${recipe.recipeName}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <a th:href="@{/recipe/add}">Voeg nieuw recept toe</a>
    </p>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>